@inherits LayoutComponentBase

<div class="demo-shell">
    <header class="demo-header">
        <div class="demo-header-row">
            <NavLink href="/" Match="NavLinkMatch.All" class="demo-brand" ActiveClass="is-active">BlazorMap demo</NavLink>
            <nav class="demo-nav demo-nav-primary" aria-label="Map providers">
                <NavLink class="demo-nav-link" href="/leaflet" ActiveClass="is-active">Leaflet</NavLink>
                <NavLink class="demo-nav-link" href="/maplibre" ActiveClass="is-active">MapLibre GL</NavLink>
                <NavLink class="demo-nav-link" href="/mapbox" ActiveClass="is-active">Mapbox GL</NavLink>
                <NavLink class="demo-nav-link" href="/openlayers" ActiveClass="is-active">OpenLayers</NavLink>
                <NavLink class="demo-nav-link" href="/arcgis" ActiveClass="is-active">ArcGIS</NavLink>
                <NavLink class="demo-nav-link" href="/azuremaps" ActiveClass="is-active">Azure Maps</NavLink>
            </nav>
        </div>
        <DemoProviderSubNav />
    </header>
    <main class="demo-main">
        @Body
    </main>
</div>
