@namespace BlazorMap
@inherits BlazorInteractiveMapBase<BlazorCesiumMapOptions>

<div class="blazor-map-root @CssClass" style="width:@Width;height:@Height">
    <div @ref="_mapElement"
         class="blazor-map-canvas blazor-cesium-canvas"
         tabindex="0"
         role="application"
         aria-label="Interactive 3D globe (CesiumJS). Use mouse to rotate and zoom."></div>
    @ChildContent
</div>
