@namespace BlazorMap
@inherits BlazorInteractiveMapBase<MapboxMapDisplayOptions>

<div class="blazor-map-root blazor-mapbox-root @CssClass" style="width:@Width;height:@Height">
    <div @ref="_mapElement"
         class="blazor-map-canvas"
         tabindex="0"
         role="application"
         aria-label="Interactive map (Mapbox). Use arrow keys to pan when focused; +/- to zoom."></div>
    @ChildContent
</div>
